<div class="container-fluid">

    <div class="text">

        <h1 [ngStyle]="{'color' : color}"> FING YOUR FAVORITE IPHONE </h1>
        <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repellendus impedit
            facilis, temporibus cupiditate dignissimos vitae. Est provident perspiciatis dolores natus! Libero illo non
            vero impedit architecto officiis tenetur saepe.
        </p>
        <a class="btn btn-light ms-5 btnlogin"> LOG IN</a>
    </div>


    <div class="image ms-5">
        <div *ngIf="!source">
            <img class="imgfull" src="../assets/0.png" width="230px" alt="">
        </div>
        <img src={{source}} width="230px" alt="">

    </div>


    </div>

    <div class="imagelist">
        <ul>
            <li> <img src="../assets/0.png" width="50px" (click)="changesource('../assets/0.png' , 'gold')"> </li>
            <li> <img src="../assets/1.png" width="50px" (click)="changesource('../assets/1.png' , 'blue')"> </li>
            <li> <img src="../assets/2.png" width="50px" (click)="changesource('../assets/2.png' , 'gray')"> </li>
            <li> <img src="../assets/3.png" width="50px" (click)="changesource('../assets/3.png' , 'cilver')"> </li>
            <li> <img src="../assets/4.png" width="50px" (click)="changesource('../assets/4.png' , 'red')"> </li>

        </ul>
    </div>
